.cardContainerDashboard {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    /* Centraliza horizontalmente */
}

.valueInput,
.descriptionArea,
.categorySelect {
    width: 100%;
}

.ant-card-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
}